*.o
*.log
*.tmp
*.xml
*.exe
*.dll
*.so
*.dylib
*.pyc
__pycache__/
*.mk
*.d
*.swp
*.swo
*.bak
*.zip
*.tar.gz
*.tar.bz2
*.7z
*.gz
*.bz2
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.ipynb_checkpoints/
*.vscode/
.idea/
.DS_Store
*.iml
*.sln
*.suo
*.user
*.cache
*.pdb
*.cyclo
*.cpp
*.ld
*.su
*.txt
*.md
*.csv
*.elf
*.map
*.bin
*.hex
*.list
*.prefs
*.prject
*.xmi
*.index
*.history
*.pdom
*.version
*.ini
*.ioc
*.s
*.markers
*.location
*.tree

.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.3.200.202507011752
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
UART2_Example/.cproject
UART2_Example/.mxproject
